html {
  scrollbar-gutter: auto;
}

flex-240 {
  flex: 0 0 150rem;
}

.get-started {
  &:after {
    content: "\00a0→";
    position: relative;
    display: inline-block;
    transition: transform .3s ease;
  }

  &:hover:after {
    transform: translateX(3px);
  }
}

.sidebar {
  opacity: 0;
  transform: translate(-100%);
  transition: background-color 0.5s, opacity 0.25s, transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

@media (min-width: 960px) {
  .sidebar {
    z-index: 1;
    opacity: 1;
    visibility: visible;
    box-shadow: none;
    transform: translate(0);
  }
}
