<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="{{ get_url(path="style.css") | safe }}">
  <link rel="icon" sizes="any" type="image/svg+xml" href="{{ get_url(path="logo.svg") | safe }}">
</head>

<body>
  <header>
    {% block nav -%}
    <nav>
      <a class="logo">Viz.rs</a>
    </nav>
    {% endblock nav -%}
  </header>

  <main>
    {% block content %}
    {% endblock content %}
  </main>

  <footer>
    <span>Powered by </span><a href="https://www.getzola.org">Zola</a>
  </footer>
</body>
</html>
